<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>edit</title>
  </head>
  <body>
    <form method="post" action="/stock/<%= stock.id %>?_method=put">
      <label for="stockname"> Stock</label>
      <input type="text" id="stockname" name="name" value="<%=stock.name %>" />
      <label for="price">Price</label>
      <input type="text" id="price" name="price" value="<%=stock.price %>" />
      <button type="submit">update</button>
    </form>
  </body>
</html>
